:root{
  --backgroundColor:  #ebebeb;
}

.bg-main {
  background-color:  #dadada !important;
  border-bottom: #bebebe 1px solid !important;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:var(--backgroundColor);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 60px;
  background-color: #ebebeb;
  border-top-color: #fafafa;
}