:root{
  --backgroundColor:  #ebebeb;
}

.bg-main {
  background-color:  #dadada !important;
  border-bottom: #bebebe 1px solid !important;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: rgb(48,48,48);
  color: #fff;

}

.container-shadow {
  box-shadow: rgb(64 64 64) 0px 1px 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 60px;
  background-color: rgb(48,48,48);
  color: #fff !important;
  border-top: 1px solid rgb(0, 0, 0);
 
}